html {
  font-size: max(3ch, 3vmin + 2vmax + 1pt);
}

body {
  margin: 0;
  padding: 3em 1em;
  overflow-wrap: anywhere;
}

:focus {
  outline: thick groove;
}

:any-link {
  text-decoration-style: dotted;
}

:any-link:hover {
  text-decoration-style: wavy;
}

article {
  contain: layout;
  display: flex;
  flex-flow: column-reverse;
}

h1 {
  contain: layout;
  display: flex;
  font-size: 1.618em;
  font-weight: 500;
}

h1 a {
  display: inline-flex;
}

@media (orientation: portrait) {
  h1 {
    margin: auto;
    flex-flow: row-reverse;
    writing-mode: vertical-lr;
  }
  
  p {
    writing-mode: vertical-lr;
  }
}
